<?xml version="1.0" encoding="utf-8"?>
<!--
   ~ Licensed under the LICENSE.
   ~ Copyright (C) 2018, Sony Mobile Communications Inc.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.test.kotlin">

    <application android:label="@string/app_title"
                 android:theme="@style/Theme.AppCompat">
        <activity android:name=".ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
